
packages/System.Text.Encodings.Web.4.5.0/version.txt
packages/System.Text.Encodings.Web.4.5.0/useSharedDesignerContext.txt
packages/System.Text.Encodings.Web.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Text.Encodings.Web.4.5.0/System.Text.Encodings.Web.4.5.0.nupkg
packages/System.Text.Encodings.Web.4.5.0/LICENSE.TXT
packages/System.Text.Encodings.Web.4.5.0/lib/netstandard2.0/System.Text.Encodings.Web.xml
packages/System.Text.Encodings.Web.4.5.0/lib/netstandard2.0/System.Text.Encodings.Web.dll
packages/System.Text.Encodings.Web.4.5.0/lib/netstandard1.0/System.Text.Encodings.Web.xml
packages/System.Text.Encodings.Web.4.5.0/lib/netstandard1.0/System.Text.Encodings.Web.dll
packages/System.Text.Encodings.Web.4.5.0/.signature.p7s
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/version.txt
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/useSharedDesignerContext.txt
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/THIRD-PARTY-NOTICES.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/System.Runtime.CompilerServices.Unsafe.4.5.1.nupkg
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/LICENSE.TXT
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
packages/System.Runtime.CompilerServices.Unsafe.4.5.1/.signature.p7s
packages/System.Numerics.Vectors.4.4.0/version.txt
packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
packages/System.Numerics.Vectors.4.4.0/ref/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarintvos10/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarinmac20/_._
packages/System.Numerics.Vectors.4.4.0/ref/xamarinios10/_._
packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/ref/MonoTouch10/_._
packages/System.Numerics.Vectors.4.4.0/ref/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
packages/System.Numerics.Vectors.4.4.0/lib/xamarinwatchos10/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarintvos10/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarinmac20/_._
packages/System.Numerics.Vectors.4.4.0/lib/xamarinios10/_._
packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/netcoreapp2.0/_._
packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
packages/System.Numerics.Vectors.4.4.0/lib/MonoTouch10/_._
packages/System.Numerics.Vectors.4.4.0/lib/MonoAndroid10/_._
packages/System.Numerics.Vectors.4.4.0/.signature.p7s
packages/System.Memory.4.5.1/version.txt
packages/System.Memory.4.5.1/useSharedDesignerContext.txt
packages/System.Memory.4.5.1/THIRD-PARTY-NOTICES.TXT
packages/System.Memory.4.5.1/System.Memory.4.5.1.nupkg
packages/System.Memory.4.5.1/ref/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.1/ref/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.1/ref/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.1/ref/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.1/ref/netcoreapp2.1/_._
packages/System.Memory.4.5.1/LICENSE.TXT
packages/System.Memory.4.5.1/lib/netstandard2.0/System.Memory.xml
packages/System.Memory.4.5.1/lib/netstandard2.0/System.Memory.dll
packages/System.Memory.4.5.1/lib/netstandard1.1/System.Memory.xml
packages/System.Memory.4.5.1/lib/netstandard1.1/System.Memory.dll
packages/System.Memory.4.5.1/lib/netcoreapp2.1/_._
packages/System.Memory.4.5.1/.signature.p7s
packages/System.ComponentModel.Annotations.4.5.0/version.txt
packages/System.ComponentModel.Annotations.4.5.0/useSharedDesignerContext.txt
packages/System.ComponentModel.Annotations.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.ComponentModel.Annotations.4.5.0/System.ComponentModel.Annotations.4.5.0.nupkg
packages/System.ComponentModel.Annotations.4.5.0/ref/xamarinwatchos10/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/xamarintvos10/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/xamarinmac20/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/xamarinios10/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/win8/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/uap10.0.16299/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/portable-net45+win8/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard2.0/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard2.0/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/zh-hant/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/zh-hans/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/ru/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/ko/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/ja/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/it/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/fr/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/es/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.4/de/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/zh-hant/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/zh-hans/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/ru/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/ko/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/ja/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/it/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/fr/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/es/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.3/de/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/zh-hant/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/zh-hans/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/ru/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/ko/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/ja/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/it/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/fr/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/es/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netstandard1.1/de/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcoreapp2.0/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/zh-hant/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/zh-hans/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/ru/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/ko/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/ja/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/it/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/fr/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/es/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/netcore50/de/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/net461/System.ComponentModel.Annotations.xml
packages/System.ComponentModel.Annotations.4.5.0/ref/net461/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/ref/net45/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/MonoTouch10/_._
packages/System.ComponentModel.Annotations.4.5.0/ref/MonoAndroid10/_._
packages/System.ComponentModel.Annotations.4.5.0/LICENSE.TXT
packages/System.ComponentModel.Annotations.4.5.0/lib/xamarinwatchos10/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/xamarintvos10/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/xamarinmac20/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/xamarinios10/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/win8/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/uap10.0.16299/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/portable-net45+win8/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/netstandard2.0/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/lib/netstandard1.4/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/lib/netcoreapp2.0/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/netcore50/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/lib/net461/System.ComponentModel.Annotations.dll
packages/System.ComponentModel.Annotations.4.5.0/lib/net45/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/MonoTouch10/_._
packages/System.ComponentModel.Annotations.4.5.0/lib/MonoAndroid10/_._
packages/System.ComponentModel.Annotations.4.5.0/.signature.p7s
packages/System.Buffers.4.5.0/version.txt
packages/System.Buffers.4.5.0/useSharedDesignerContext.txt
packages/System.Buffers.4.5.0/THIRD-PARTY-NOTICES.TXT
packages/System.Buffers.4.5.0/System.Buffers.4.5.0.nupkg
packages/System.Buffers.4.5.0/ref/uap10.0.16299/_._
packages/System.Buffers.4.5.0/ref/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.0/ref/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.0/ref/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.0/ref/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.0/ref/netcoreapp2.0/_._
packages/System.Buffers.4.5.0/ref/net45/System.Buffers.xml
packages/System.Buffers.4.5.0/ref/net45/System.Buffers.dll
packages/System.Buffers.4.5.0/LICENSE.TXT
packages/System.Buffers.4.5.0/lib/uap10.0.16299/_._
packages/System.Buffers.4.5.0/lib/netstandard2.0/System.Buffers.xml
packages/System.Buffers.4.5.0/lib/netstandard2.0/System.Buffers.dll
packages/System.Buffers.4.5.0/lib/netstandard1.1/System.Buffers.xml
packages/System.Buffers.4.5.0/lib/netstandard1.1/System.Buffers.dll
packages/System.Buffers.4.5.0/lib/netcoreapp2.0/_._
packages/System.Buffers.4.5.0/.signature.p7s
packages/Microsoft.Net.Http.Headers.2.2.0/Microsoft.Net.Http.Headers.2.2.0.nupkg
packages/Microsoft.Net.Http.Headers.2.2.0/lib/netstandard2.0/Microsoft.Net.Http.Headers.xml
packages/Microsoft.Net.Http.Headers.2.2.0/lib/netstandard2.0/Microsoft.Net.Http.Headers.dll
packages/Microsoft.Net.Http.Headers.2.2.0/.signature.p7s
packages/Microsoft.Extensions.Primitives.2.2.0/Microsoft.Extensions.Primitives.2.2.0.nupkg
packages/Microsoft.Extensions.Primitives.2.2.0/lib/netstandard2.0/Microsoft.Extensions.Primitives.xml
packages/Microsoft.Extensions.Primitives.2.2.0/lib/netstandard2.0/Microsoft.Extensions.Primitives.dll
packages/Microsoft.Extensions.Primitives.2.2.0/.signature.p7s
packages/Microsoft.Extensions.Options.2.2.0/Microsoft.Extensions.Options.2.2.0.nupkg
packages/Microsoft.Extensions.Options.2.2.0/lib/netstandard2.0/Microsoft.Extensions.Options.xml
packages/Microsoft.Extensions.Options.2.2.0/lib/netstandard2.0/Microsoft.Extensions.Options.dll
packages/Microsoft.Extensions.Options.2.2.0/.signature.p7s
packages/Microsoft.Extensions.ObjectPool.2.2.0/Microsoft.Extensions.ObjectPool.2.2.0.nupkg
packages/Microsoft.Extensions.ObjectPool.2.2.0/lib/netstandard2.0/Microsoft.Extensions.ObjectPool.xml
packages/Microsoft.Extensions.ObjectPool.2.2.0/lib/netstandard2.0/Microsoft.Extensions.ObjectPool.dll
packages/Microsoft.Extensions.ObjectPool.2.2.0/.signature.p7s
packages/Microsoft.Extensions.DependencyInjection.Abstractions.2.2.0/Microsoft.Extensions.DependencyInjection.Abstractions.2.2.0.nupkg
packages/Microsoft.Extensions.DependencyInjection.Abstractions.2.2.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.xml
packages/Microsoft.Extensions.DependencyInjection.Abstractions.2.2.0/lib/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
packages/Microsoft.Extensions.DependencyInjection.Abstractions.2.2.0/.signature.p7s
packages/Microsoft.AspNetCore.WebUtilities.2.2.0/Microsoft.AspNetCore.WebUtilities.2.2.0.nupkg
packages/Microsoft.AspNetCore.WebUtilities.2.2.0/lib/netstandard2.0/Microsoft.AspNetCore.WebUtilities.xml
packages/Microsoft.AspNetCore.WebUtilities.2.2.0/lib/netstandard2.0/Microsoft.AspNetCore.WebUtilities.dll
packages/Microsoft.AspNetCore.WebUtilities.2.2.0/.signature.p7s
packages/Microsoft.AspNetCore.Http.Features.2.2.0/Microsoft.AspNetCore.Http.Features.2.2.0.nupkg
packages/Microsoft.AspNetCore.Http.Features.2.2.0/lib/netstandard2.0/Microsoft.AspNetCore.Http.Features.xml
packages/Microsoft.AspNetCore.Http.Features.2.2.0/lib/netstandard2.0/Microsoft.AspNetCore.Http.Features.dll
packages/Microsoft.AspNetCore.Http.Features.2.2.0/.signature.p7s
packages/Microsoft.AspNetCore.Http.Abstractions.2.2.0/Microsoft.AspNetCore.Http.Abstractions.2.2.0.nupkg
packages/Microsoft.AspNetCore.Http.Abstractions.2.2.0/lib/netstandard2.0/Microsoft.AspNetCore.Http.Abstractions.xml
packages/Microsoft.AspNetCore.Http.Abstractions.2.2.0/lib/netstandard2.0/Microsoft.AspNetCore.Http.Abstractions.dll
packages/Microsoft.AspNetCore.Http.Abstractions.2.2.0/.signature.p7s
packages/Microsoft.AspNetCore.Http.2.2.2/Microsoft.AspNetCore.Http.2.2.2.nupkg
packages/Microsoft.AspNetCore.Http.2.2.2/lib/netstandard2.0/Microsoft.AspNetCore.Http.xml
packages/Microsoft.AspNetCore.Http.2.2.2/lib/netstandard2.0/Microsoft.AspNetCore.Http.dll
packages/Microsoft.AspNetCore.Http.2.2.2/.signature.p7s
.vs/DorcasClub/config/applicationhost.config
.vs/DorcasClub/project-colors.json
.vs/DorcasClub/v17/.suo
.vs/DorcasClub/v17/fileList.bin
DorcasClub/bin/DorcasClub.dll
DorcasClub/bin/DorcasClub.dll.config
DorcasClub/bin/DorcasClub.pdb
DorcasClub/bin/Microsoft.AspNetCore.Http.Abstractions.dll
DorcasClub/bin/Microsoft.AspNetCore.Http.Abstractions.xml
DorcasClub/bin/Microsoft.AspNetCore.Http.dll
DorcasClub/bin/Microsoft.AspNetCore.Http.Features.dll
DorcasClub/bin/Microsoft.AspNetCore.Http.Features.xml
DorcasClub/bin/Microsoft.AspNetCore.Http.xml
DorcasClub/bin/Microsoft.AspNetCore.WebUtilities.dll
DorcasClub/bin/Microsoft.AspNetCore.WebUtilities.xml
DorcasClub/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DorcasClub/bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
DorcasClub/bin/Microsoft.Extensions.ObjectPool.dll
DorcasClub/bin/Microsoft.Extensions.ObjectPool.xml
DorcasClub/bin/Microsoft.Extensions.Options.dll
DorcasClub/bin/Microsoft.Extensions.Options.xml
DorcasClub/bin/Microsoft.Extensions.Primitives.dll
DorcasClub/bin/Microsoft.Extensions.Primitives.xml
DorcasClub/bin/Microsoft.Net.Http.Headers.dll
DorcasClub/bin/Microsoft.Net.Http.Headers.xml
DorcasClub/bin/System.Buffers.dll
DorcasClub/bin/System.Buffers.xml
DorcasClub/bin/System.ComponentModel.Annotations.dll
DorcasClub/bin/System.Memory.dll
DorcasClub/bin/System.Memory.xml
DorcasClub/bin/System.Numerics.Vectors.dll
DorcasClub/bin/System.Numerics.Vectors.xml
DorcasClub/bin/System.Runtime.CompilerServices.Unsafe.dll
DorcasClub/bin/System.Runtime.CompilerServices.Unsafe.xml
DorcasClub/bin/System.Text.Encodings.Web.dll
DorcasClub/bin/System.Text.Encodings.Web.xml
DorcasClub/CnxDB.Context.cs
DorcasClub/CnxDB.Designer.cs
DorcasClub/CnxDB.edmx
DorcasClub/CnxDB.edmx.diagram
.vs/DorcasClub/config/applicationhost.config
.vs/DorcasClub/project-colors.json
.vs/DorcasClub/v17/.suo
DorcasClub/bin/DorcasClub.dll
DorcasClub/bin/DorcasClub.dll.config
DorcasClub/bin/DorcasClub.pdb
DorcasClub/CnxDB.Context.cs
DorcasClub/CnxDB.Designer.cs
DorcasClub/CnxDB.edmx
DorcasClub/CnxDB.edmx.diagram
.vs/DorcasClub/config/applicationhost.config
DorcasClub/Web.config
