
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="height:700px;width:900px;margin:0 auto" class="mt-3">
        @Html.Raw(Model.Render())
    </div>


